.glyphicon{
	font-size: 50px;
}

.panel-row{
		margin: 0px;
}
.add-new-team-form{
	margin-top: 10px;
}
.add-new-team-form-container{
	padding: 15px;
	border:solid 2px white;

}

.row{
	margin: 0px;
}
.submit-btn{
	margin-top:15px; 
}

.login-form-container span {
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
}

.listall-table{
	background-color: #ffffff;
}