@font-face{
		font-family:harrypotter;
		src:url("../fonts/harrypotter.TTF");
		}
@font-face{
		font-family:hptext;
		src:url("../fonts/hptext.ttf");
		}
@font-face{
		font-family:advent;
		src:url("../fonts/advent.ttf");
		}
body{
	background-color:#210002;
	font-family:advent;


}

.naver{
	font-family: harrypotter; 
	font-size: 32px;
	text-align: center;
	color: white;
	border-bottom: solid black thin;
	font-weight: 300;
	border:0px;
}
.naver a{
	font-size: 16px;
	color: white;
	font-weight: 200;
}
.icon-bar{
	background-color: white;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: #FFE384!important;
	color: #210002!important;
}

.image-container{
	max-width: 100%;
}
.section-one{
	font-family:advent;
	font-size:20px;
	font-weight:400!important;
	background-color: #FFAD42;
	padding-right: 10px;
	padding-left: 10px;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  	clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);

}
.section-head{
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	font-family: harrypotter;
}

.input-login{
	width:100%;
	overflow:hidden;
}

.input-login:focus{
	outline-color: #E27F25!important;

}

input{
	width:100%;
	background-color: transparent;
	color: white;
	border-radius:5px;	
	font-size: 18px;
	border: 2px solid #ffffe6;
	padding: 5px;	
	font-weight:200;


}

.login-head-container{
	width:100%;
}
.login-head{
	color: white;
	font-size: 24px;
	margin-bottom: 20px;
	font-weight:200;
	font-family: harrypotter;
/*	display:inline-block;
*/	margin:0 auto;

}

.submit-btn{

	width:100%;
	max-width: 100px;
	padding-left:auto;
	padding-right: auto;
	font-size: 18px;
	color: white;
	background-color: transparent;
	border-radius: 20px;
	border: 2px solid #FFFFFF;
	font-weight:200;

}
.submit-btn:focus{
	background-color: #672017;	
	box-shadow: 0 0 10px #FFE384;
  border: 1px solid #FFFFFF;
}.submit-btn:active{
	background-color: #672017;	
	box-shadow: 0 0 10px #FFE384;
  border: 1px solid #FFFFFF;
}
.submit-btn:hover{
	background-color: #672017;
	box-shadow: 0 0 10px #FFE384;
  border: 1px solid #FFFFFF;	
}
.submit-btn.outline{
	background: none;
	padding:12px 22px;

}
.btn-primary.outline {
	border: 2px solid #FFFFFF;
	color: #0099cc;
}
	
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
	background-color: transparent;

}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
	background-color: transparent;

}
.add-new-team-form-container{
	padding: 0px;
	margin: 0px;
}

.login-form-container{
	width: 100%;
}
.login-form-container-inner{
	width:90%;
    margin: 0 auto; 
}

.submit-btn-div{
	padding: 0px;
}

.clue-container{
	width: 100%;

}

.clue-head{
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	font-family: harrypotter;
}

.clue-container{
	font-family:advent;
	font-size:20px;
	font-weight:400!important;
	background-color: #FFAD42;
	padding-right: 10px;
	padding-left: 10px;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.dest-container{
	background-color: transparent;

}

.dest-head{
	color: #ffffff;
	font-size: 36px;
	font-weight: 400;
	font-family: harrypotter;


	
}